In [1]:
#!pip install mysql-connector-python

In [2]:
import pandas as pd
import mysql.connector
import numpy as np

In [3]:
#using my sql credentials 
from config import get_db_connection
conn = get_db_connection()

In [4]:
query="SELECT * FROM Matches_data;"

df=pd.read_sql(query,conn)

C:\Users\USER\AppData\Local\Temp\ipykernel_18052\2638623487.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql(query,conn)

In [5]:
df

,id,home_team,away_team,home_score,away_score,Result,matchday,date,home_points,away_points,...,home_losses,away_wins,away_draws,away_losses,Cumulative_Home_Wins,Cumulative_Home_Draws,Cumulative_Home_Losses,Cumulative_Away_Wins,Cumulative_Away_Draws,Cumulative_Away_Losses
0,540406.0,53,108,6,0,2,1.0,2025-08-22,3,0,...,0,0,0,1,1,0,0,0,0,1
1,540407.0,45,130,4,1,2,1.0,2025-08-23,3,0,...,0,0,0,1,1,0,0,0,0,1
2,540408.0,22,142,1,2,0,1.0,2025-08-23,0,3,...,1,1,0,0,0,0,1,1,0,0
3,540409.0,125,51,1,3,0,1.0,2025-08-23,0,3,...,1,1,0,0,0,0,1,1,0,0
4,540412.0,2,156,2,1,2,1.0,2025-08-23,3,0,...,0,0,0,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7293,536880.0,41,83,2,0,2,7.0,2025-10-19,3,0,...,0,0,0,1,16,14,10,21,24,10
7294,536878.0,36,24,0,2,0,7.0,2025-10-19,0,3,...,1,1,0,0,18,17,24,19,23,16
7295,536879.0,72,106,0,0,1,7.0,2025-10-19,1,1,...,0,0,1,0,18,22,18,2,19,17
7296,536877.0,20,127,0,0,1,7.0,2025-10-19,1,1,...,0,0,1,0,31,14,12,29,7,22
7297,536875.0,4,7,2,1,2,7.0,2025-10-19,3,0,...,0,0,0,1,30,18,9,18,17,23

In [6]:
conn.close()

In [7]:
df.head()

,id,home_team,away_team,home_score,away_score,Result,matchday,date,home_points,away_points,...,home_losses,away_wins,away_draws,away_losses,Cumulative_Home_Wins,Cumulative_Home_Draws,Cumulative_Home_Losses,Cumulative_Away_Wins,Cumulative_Away_Draws,Cumulative_Away_Losses
0,540406.0,53,108,6,0,2,1.0,2025-08-22,3,0,...,0,0,0,1,1,0,0,0,0,1
1,540407.0,45,130,4,1,2,1.0,2025-08-23,3,0,...,0,0,0,1,1,0,0,0,0,1
2,540408.0,22,142,1,2,0,1.0,2025-08-23,0,3,...,1,1,0,0,0,0,1,1,0,0
3,540409.0,125,51,1,3,0,1.0,2025-08-23,0,3,...,1,1,0,0,0,0,1,1,0,0
4,540412.0,2,156,2,1,2,1.0,2025-08-23,3,0,...,0,0,0,1,1,0,0,0,0,1

In [8]:
df.tail()

,id,home_team,away_team,home_score,away_score,Result,matchday,date,home_points,away_points,...,home_losses,away_wins,away_draws,away_losses,Cumulative_Home_Wins,Cumulative_Home_Draws,Cumulative_Home_Losses,Cumulative_Away_Wins,Cumulative_Away_Draws,Cumulative_Away_Losses
7293,536880.0,41,83,2,0,2,7.0,2025-10-19,3,0,...,0,0,0,1,16,14,10,21,24,10
7294,536878.0,36,24,0,2,0,7.0,2025-10-19,0,3,...,1,1,0,0,18,17,24,19,23,16
7295,536879.0,72,106,0,0,1,7.0,2025-10-19,1,1,...,0,0,1,0,18,22,18,2,19,17
7296,536877.0,20,127,0,0,1,7.0,2025-10-19,1,1,...,0,0,1,0,31,14,12,29,7,22
7297,536875.0,4,7,2,1,2,7.0,2025-10-19,3,0,...,0,0,0,1,30,18,9,18,17,23

In [9]:
import torch
import torch.nn as nn
import torch.optim as optim
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [10]:
data=df.copy()

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7298 entries, 0 to 7297
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       5262 non-null   float64
 1   home_team                7298 non-null   int64
 2   away_team                7298 non-null   int64
 3   home_score               7298 non-null   int64
 4   away_score               7298 non-null   int64
 5   Result                   7298 non-null   int64
 6   matchday                 5262 non-null   float64
 7   date                     5262 non-null   object
 8   home_points              7298 non-null   int64
 9   away_points              7298 non-null   int64
 10  Home Total Goals Scored  7298 non-null   int64
 11  Away Total Goals Scored  7298 non-null   int64
 12  Home Goals Conceded      7298 non-null   int64
 13  Away Goals Conceded      7298 non-null   int64
 14  Home Total Points        7298 non-null   int64
 15  Away Total Points        7298 non-null   int64
 16  GG                       7298 non-null   int64
 17  Cumulative_Home_Matches  7298 non-null   int64
 18  Cumulative_Away_Matches  7298 non-null   int64
 19  home_goal_ratio          7298 non-null   float64
 20  away_goal_ratio          7298 non-null   float64
 21  home_wins                7298 non-null   int64
 22  home_draws               7298 non-null   int64
 23  home_losses              7298 non-null   int64
 24  away_wins                7298 non-null   int64
 25  away_draws               7298 non-null   int64
 26  away_losses              7298 non-null   int64
 27  Cumulative_Home_Wins     7298 non-null   int64
 28  Cumulative_Home_Draws    7298 non-null   int64
 29  Cumulative_Home_Losses   7298 non-null   int64
 30  Cumulative_Away_Wins     7298 non-null   int64
 31  Cumulative_Away_Draws    7298 non-null   int64
 32  Cumulative_Away_Losses   7298 non-null   int64
dtypes: float64(4), int64(28), object(1)
memory usage: 1.8+ MB

In [12]:
data.shape

(7298, 33)

In [13]:
data.columns

Index(['id', 'home_team', 'away_team', 'home_score', 'away_score', 'Result',
       'matchday', 'date', 'home_points', 'away_points',
       'Home Total Goals Scored', 'Away Total Goals Scored',
       'Home Goals Conceded', 'Away Goals Conceded', 'Home Total Points',
       'Away Total Points', 'GG', 'Cumulative_Home_Matches',
       'Cumulative_Away_Matches', 'home_goal_ratio', 'away_goal_ratio',
       'home_wins', 'home_draws', 'home_losses', 'away_wins', 'away_draws',
       'away_losses', 'Cumulative_Home_Wins', 'Cumulative_Home_Draws',
       'Cumulative_Home_Losses', 'Cumulative_Away_Wins',
       'Cumulative_Away_Draws', 'Cumulative_Away_Losses'],
      dtype='object')

In [14]:
X=data.drop(['id','home_score', 'away_score', 'Result', 'matchday', 'date', 'home_points', 'away_points','GG', 'Cumulative_Home_Matches',
             'Cumulative_Away_Matches', 'home_wins', 'home_draws', 'home_losses', 'away_wins', 'away_draws','away_losses','home_goal_ratio', 'away_goal_ratio'],axis=1)

y=data['Result']

In [15]:
X

,home_team,away_team,Home Total Goals Scored,Away Total Goals Scored,Home Goals Conceded,Away Goals Conceded,Home Total Points,Away Total Points,Cumulative_Home_Wins,Cumulative_Home_Draws,Cumulative_Home_Losses,Cumulative_Away_Wins,Cumulative_Away_Draws,Cumulative_Away_Losses
0,53,108,6,0,0,6,3,0,1,0,0,0,0,1
1,45,130,4,1,1,4,3,0,1,0,0,0,0,1
2,22,142,1,2,2,1,0,3,0,0,1,1,0,0
3,125,51,1,3,3,1,0,3,0,0,1,1,0,0
4,2,156,2,1,1,2,3,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7293,41,83,6,2,2,3,8,4,16,14,10,21,24,10
7294,36,24,3,4,5,4,4,4,18,17,24,19,23,16
7295,72,106,0,0,4,4,2,2,18,22,18,2,19,17
7296,20,127,6,3,3,3,6,4,31,14,12,29,7,22
7297,4,7,6,2,4,3,9,3,30,18,9,18,17,23

In [16]:
pd.set_option("display.max.columns",16)

In [17]:
X

,home_team,away_team,Home Total Goals Scored,Away Total Goals Scored,Home Goals Conceded,Away Goals Conceded,Home Total Points,Away Total Points,Cumulative_Home_Wins,Cumulative_Home_Draws,Cumulative_Home_Losses,Cumulative_Away_Wins,Cumulative_Away_Draws,Cumulative_Away_Losses
0,53,108,6,0,0,6,3,0,1,0,0,0,0,1
1,45,130,4,1,1,4,3,0,1,0,0,0,0,1
2,22,142,1,2,2,1,0,3,0,0,1,1,0,0
3,125,51,1,3,3,1,0,3,0,0,1,1,0,0
4,2,156,2,1,1,2,3,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7293,41,83,6,2,2,3,8,4,16,14,10,21,24,10
7294,36,24,3,4,5,4,4,4,18,17,24,19,23,16
7295,72,106,0,0,4,4,2,2,18,22,18,2,19,17
7296,20,127,6,3,3,3,6,4,31,14,12,29,7,22
7297,4,7,6,2,4,3,9,3,30,18,9,18,17,23

In [18]:
sc=StandardScaler()

In [19]:
X=sc.fit_transform(X)

In [20]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=42)

In [21]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(6568, 14) (730, 14) (6568,) (730,)

In [22]:
X_train.dtype

dtype('float64')

In [23]:
y_train.dtype

dtype('int64')

In [24]:
y_test.dtype

dtype('int64')

In [25]:
X_train_tensor = torch.FloatTensor(X_train)
y_train_tensor = torch.LongTensor(y_train.to_numpy())
X_test_tensor = torch.FloatTensor(X_test)
y_test_tensor = torch.LongTensor(y_test.to_numpy())

In [26]:
X_train_tensor.dtype

torch.float32

In [27]:
import numpy as np
print("Class distribution:")
print(np.unique(y_test_tensor, return_counts=True))

Class distribution:
(array([0, 1, 2], dtype=int64), array([230, 184, 316], dtype=int64))

In [28]:
class FootballML(nn.Module):
    def __init__(self,input_size,hidden_size,output_dim,dropout_prob=0.4):
        super().__init__()
        self.fc1=nn.Linear(input_size,hidden_size)
        self.dropout = nn.Dropout(dropout_prob)
        self.fc2=nn.Linear(hidden_size,output_dim)

    def forward(self, x):
        x = torch.relu(self.fc1(x))  # Apply first linear layer and activation
        x = self.dropout(x)          # Apply dropout
        output = self.fc2(x)         # Final linear layer
        return output

input_size=14
hidden_size=36
dropout_prob=0.35
output_dim=3



from sklearn.utils.class_weight import compute_class_weight

# Calculate class weights
classes = np.unique(y_train)
class_weights = compute_class_weight('balanced', classes=classes, y=y_train)
class_weights = torch.tensor(class_weights, dtype=torch.float32)


model=FootballML(input_size,hidden_size,output_dim,dropout_prob)
criterion = nn.CrossEntropyLoss(weight=class_weights)
optimizer=optim.Adam(model.parameters(),lr=0.02)

num_epochs=660

for epoch in range(num_epochs):
    outputs=model(X_train_tensor)
    loss=criterion(outputs,y_train_tensor)
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()
    if (epoch +1) % 60 ==0:
        print(f"Epoch[{epoch+1}/{num_epochs}], Loss: {loss.item():.4f}")

Epoch[60/660], Loss: 0.7643
Epoch[120/660], Loss: 0.7339
Epoch[180/660], Loss: 0.7133
Epoch[240/660], Loss: 0.7115
Epoch[300/660], Loss: 0.7037
Epoch[360/660], Loss: 0.6989
Epoch[420/660], Loss: 0.6939
Epoch[480/660], Loss: 0.6845
Epoch[540/660], Loss: 0.6921
Epoch[600/660], Loss: 0.6890
Epoch[660/660], Loss: 0.6902

In [29]:
model.eval()
with torch.no_grad():
    logits=model(X_test_tensor)
    probabilities=torch.softmax(logits,dim=1)
    _,pred_classes=torch.max(logits,1)
    # Validation

    val_outputs = model(X_test_tensor)
    val_loss = criterion(val_outputs, y_test_tensor)
    _, val_preds = torch.max(val_outputs, 1)
    val_acc1 = (val_preds == y_test_tensor).float().mean()

In [30]:
val_acc1

tensor(0.7233)

In [31]:
y_pred=pred_classes.numpy()

In [32]:
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix

In [33]:
print(classification_report(y_test_tensor,y_pred))

              precision    recall  f1-score   support

           0       0.71      0.82      0.76       230
           1       0.58      0.59      0.59       184
           2       0.84      0.73      0.78       316

    accuracy                           0.72       730
   macro avg       0.71      0.71      0.71       730
weighted avg       0.73      0.72      0.72       730

In [34]:
print(confusion_matrix(y_test_tensor,y_pred))

[[189  26  15]
 [ 45 109  30]
 [ 34  52 230]]

In [35]:
import torch
import torch.nn as nn
import torch.nn.functional as F

class LSTMAttentionClassifier(nn.Module):
    def __init__(self, input_size=16, hidden_size=64, num_classes=3, num_layers=1, dropout_prob=0.2):
        super(LSTMAttentionClassifier, self).__init__()
        self.hidden_size = hidden_size
        self.lstm = nn.LSTM(input_size, hidden_size, num_layers, batch_first=True, dropout=dropout_prob)
        self.attention = nn.Linear(hidden_size, 1)
        self.dropout = nn.Dropout(dropout_prob)
        self.fc = nn.Linear(hidden_size, num_classes)

    def forward(self, x):
        lstm_out, _ = self.lstm(x)
        attn_scores = self.attention(lstm_out)
        attn_weights = F.softmax(attn_scores, dim=1)
        context = torch.sum(attn_weights * lstm_out, dim=1)
        context = self.dropout(context)
        output = self.fc(context)
        return output

In [36]:
X_train_tensor = X_train_tensor.unsqueeze(1)  # Shape becomes (316, 1, 14)
X_test_tensor = X_test_tensor.unsqueeze(1)

In [37]:
model2 = LSTMAttentionClassifier(input_size=14, hidden_size=28, num_classes=3, num_layers=2, dropout_prob=0.35)
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(model2.parameters(), lr=0.015)

num_epochs = 600

for epoch in range(num_epochs):
    model2.train()
    optimizer.zero_grad()
    
    outputs = model2(X_train_tensor)  # Now shape is (316, 1, 14)
    loss = criterion(outputs, y_train_tensor)
    
    loss.backward()
    optimizer.step()
    
    if (epoch + 1) % 60 == 0:
        print(f"Epoch [{epoch+1}/{num_epochs}], Loss: {loss.item():.4f}")

Epoch [60/600], Loss: 0.7358
Epoch [120/600], Loss: 0.6991
Epoch [180/600], Loss: 0.6807
Epoch [240/600], Loss: 0.6552
Epoch [300/600], Loss: 0.6510
Epoch [360/600], Loss: 0.6402
Epoch [420/600], Loss: 0.6296
Epoch [480/600], Loss: 0.6293
Epoch [540/600], Loss: 0.6217
Epoch [600/600], Loss: 0.6135

In [38]:
model2.eval()
with torch.no_grad():
    logits=model(X_test_tensor)
    probabilities=torch.softmax(logits,dim=1)
    _,pred_classes2=torch.max(logits,1)
    # Validation
            
    val_outputs = model2(X_test_tensor)
    val_loss = criterion(val_outputs, y_test_tensor)
    _, val_preds = torch.max(val_outputs, 1)
    val_acc = (val_preds == y_test_tensor).float().mean()

In [39]:
pred_classes2

tensor([[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0],
        ...,
        [0, 0, 0],
        [0, 0, 0],
        [0, 0, 0]])

In [40]:
torch.save(model.state_dict(),"model.pth")

In [41]:
val_acc

tensor(0.7260)